<html xmlns:f="https://xsd.helhum.io/ns/typo3/cms-fluid/master/ViewHelpers"
			data-namespace-typo3-fluid="true">

	<table border="1" cellpadding="2" cellspacing="2">
		<tr>
			<td>
				<f:translate key="tx_staffholiday_domain_model_plan.staff"/>
			</td>
			<td>{plan.user.firstName} {plan.user.lastName}</td>
		</tr>
		<tr>
			<td>
				<f:translate key="tx_staffholiday_domain_model_plan.holiday_period"/>
			</td>
			<td>
				{plan.holidayBegin -> f:format.date(format:"{f:translate(key:'{dateTimeSetting}')}")}
				- {plan.holidayEnd -> f:format.date(format:"{f:translate(key:'{dateTimeSetting}')}")}
			</td>
		</tr>
		<tr>
			<td>
				<f:translate key="tx_staffholiday_domain_model_plan.notice"/>
			</td>
			<td>{plan.notice -> f:format.htmlentitiesDecode()}</td>
		</tr>
	</table>

</html>
